@import "./variables.scss";

@font-face {
  font-family: "Roboto Mono Medium";
  src: url("../fonts/RobotoMono-Medium.ttf");
}

.about {
  background-color: #202022;
  height: 100vh;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 140px;
  // padding-bottom: 140px;

  .about-content {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    // margin-top: 140px;
    height: fit-content;

    h4 {
      font-family: "Roboto Mono Medium", sans-serif;
      font-variant: small-caps;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.2em;
      align-self: flex-start;
      color: $purple-accent;
      margin: 0px;
    }

    p {
      margin: 0px;
      color: $pale-gray;
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;

      &:first-of-type {
        margin-top: 20px;
        margin-bottom: 20px;
        span {
          color: white;
          font-weight: 500;
          text-decoration: underline;
        }
      }

      &:last-of-type {
        margin-top: 20px;
        margin-bottom: 60px;
        span {
          color: white;
          font-weight: 500;
        }
      }
    }

    img {
      width: 147px;
      height: 147px;
    }
  }
}
