@import "./variables.scss";

.client-work {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #202022;
  align-items: center;
  justify-content: center;

  .client-header {
    width: 300px;
    text-align: left;

    h4 {
      font-family: "Roboto Mono Medium", serif;
      font-variant: small-caps;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.2em;
      align-self: flex-start;
      color: $purple-accent;
      margin: 0px;
    }

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      margin: 0px;
    }
  }

  .all-projects {
    // background-color: lightblue;
    width: 100%;
    margin-top: 40px;

    .project {
      display: flex;
      flex-direction: row;
      height: 260px;
      // border: 1px solid red;
      // align-items: center;

      .project-info {
        // width: 42%;
        text-align: left;
        margin-left: 20px;
        h5 {
          font-family: "Roboto", sans-serif;
          font-weight: normal;
          font-size: 20px;
          color: white;
          margin: 0px;
          margin-top: 40px;
        }
        p {
          font-size: 17px;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          width: 177px;
          margin: 0px;
          margin-top: 18px;
        }

        .tag-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 25px;
        }
      }

      .project-image {
        width: 58%;
        overflow: hidden;
        height: 90%;
        align-self: center;

        position: relative;

        img {
          height: 100%;
          position: absolute;
          left: 0;
        }
      }
    }
  }
  // width: 774px;
  // align-self: center;
  // margin-bottom: 200px;
  // .title {
  //   text-align: left;
  //   color: $main-purple;
  //   font-family: "Roboto", monospace;
  //   font-weight: 700;
  //   font-size: 25px;
  //   letter-spacing: 0.2em;
  //   font-variant: small-caps;
  //   margin: 0px;
  // }

  // .subtitle {
  //   font-family: "Roboto", monospace;
  //   font-weight: 300;
  //   font-size: 18px;
  //   color: $light-gray;
  //   text-align: left;
  //   margin: 0px;
  // }

  // .content {
  //   .project {
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //     margin: 50px 0px;

  //     img {
  //       transition: all 0.3s ease;
  //       &:hover {
  //         transform: translateY(-10px);
  //       }
  //     }

  //     .info {
  //       text-align: left;
  //       margin-left: 30px;
  //       height: 100%;

  //       p {
  //         margin: 0px;
  //         margin-bottom: 10px;
  //       }
  //       .name {
  //         font-family: "Roboto", monospace;
  //         font-weight: 700;
  //         font-size: 18px;
  //         color: white;
  //       }

  //       .description {
  //         color: $pale-gray;
  //         font-size: 18px;
  //       }

  //       .tags {
  //         width: 100%;
  //         display: flex;
  //         flex-wrap: wrap;
  //         max-height: 26px;
  //       }
  //     }
  //   }
  // }
}
