@import "./variables.scss";
@import url("https://use.typekit.net/huy2pfg.css");

.home {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: $tablet-min) {
    justify-content: end;
  }

  div {
    align-self: center;
    text-align: left;
    background-color: #15151588;

    @media screen and (min-width: $tablet-min) {
      margin-top: 55vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media screen and (min-width: $laptop-min) {
      align-self: flex-start;
      margin-left: 10vw;
    }

    p {
      font-family: "Roboto Mono", serif;
      font-weight: lighter;
      font-size: 25px;
      color: #fff;
      margin: 0px;

      @media screen and (min-width: $tablet-min) {
        // display: none;
      }
    }

    h1 {
      font-size: 50px;
      letter-spacing: 0.15em;
      color: $purple-accent;
      font-family: "Roboto", serif;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;

      //conqueror font
      font-family: aw-conqueror-inline, sans-serif;
      font-weight: 400;
      font-style: normal;

      @media screen and (min-width: $tablet-min) {
        // font-size: 80px;
        color: $main-purple;
        margin: 0px;
        line-height: 70px;
        text-align: left;
        font-size: 13vw;
      }

      @media screen and (min-width: $home-break) {
        font-size: 80px;
      }

      @media screen and (min-width: $laptop-min) {
        font-size: 100px;
      }
    }

    h2 {
      font-size: 16px;
      font-family: "Roboto Slab", serif;
      font-weight: 300;
      /* font-variant: small-caps; */
      // color: #fff;
      // color: #949495;
      color: white;
      margin: 0px;
      line-height: 25px;
      background-color: #15151575;
      font-family: "Roboto Mono", monospace;
      text-align: center;
      @media screen and (min-width: $tablet-min) {
        // font-size: 20px;
        font-weight: 300;
        text-align: left;
        font-size: 2.7vw;
        margin-top: 0px;
      }

      @media screen and (min-width: $home-break) {
        margin-top: 2vw;
        // margin-top: 20px;
      }

      @media screen and (min-width: $tablet-max) {
        font-size: 25px;
      }

      @media screen and (min-width: $laptop-min) {
        margin-top: 30px;
        font-size: 2.1vw;
      }

      @media screen and (min-width: $desktop) {
        font-size: 30px;
      }
    }
  }
  button {
    align-self: center;
    width: 169px;
    height: 46px;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    border: 1px solid $light-gray;
    background-color: $light-gray;
    font-size: 18px;
    // margin-top: 20vw;
    transition: all 0.5s ease;
    position: absolute;
    bottom: 20vh;

    &:hover {
      background-color: $light-gray;
      color: black;
      // font-weight: 400;
    }

    @media screen and (min-width: $tablet-min) {
      // background-color: #151515;
      bottom: 15vh;
    }
  }
}
