@import "./variables.scss";
@import url("https://use.typekit.net/huy2pfg.css");

.home {
  text-align: left;
  // width: 850px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  // color: rgb(18, 18, 14);

  div {
    // margin: 40vh auto 0px auto;
    align-self: center;
    text-align: left;

    p {
      font-family: "Roboto Mono", serif;
      font-weight: lighter;
      font-size: 25px;
      color: #fff;
      margin: 0px;
    }

    h1 {
      font-size: 80px;
      letter-spacing: 0.15em;
      // color: #fff;
      color: $purple-accent;
      // font-weight: bold;
      font-family: "Roboto", serif;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
      // text-align: left;
      // span {
      //   color: $main-purple;
      //   font-weight: bold;
      // }

      //continuo font
      // font-family: continuo, sans-serif;
      // font-weight: 400;
      // font-style: normal;

      //conqueror font
      font-family: aw-conqueror-inline, sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    h2 {
      font-size: 16px;
      font-family: "Roboto Slab", serif;
      font-weight: 300;
      /* font-variant: small-caps; */
      // color: #fff;
      color: #949495;
      margin: 0px;
      line-height: 25px;
    }
  }
  button {
    align-self: center;
    width: 169px;
    height: 46px;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    border: 1px solid $light-gray;
    background-color: $light-gray;
    font-size: 18px;
    // margin-top: 20vw;
    transition: all 0.5s ease;
    position: absolute;
    bottom: 10vh;

    &:hover {
      background-color: $light-gray;
      color: black;
      // font-weight: 400;
    }
  }
}
