@import "./variables.scss";
@import url("https://use.typekit.net/huy2pfg.css");

nav {
  display: flex;
  flex-direction: row;
  height: 95px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 1000;
  top: 0;
  transition: top 0.8s;
  background-color: rgba($bg, 0.85);

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    width: 30%;
    // margin-right: 26px;
    color: white;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    cursor: default;

    // @media screen and (min-width: 426px) {
    //   width: 550px;
    //   font-size: 18px;
    // }

    p {
      position: relative;
      &:hover {
        color: $green-accent;

        &::before {
          content: "{";
          position: absolute;
          left: -20px;
        }

        &::after {
          content: "}";
          position: absolute;
          right: -20px;
        }
      }
    }

    div {
      p {
        margin: 0px;
      }
    }
  }
}
